.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: (146 / 16) * $spacer;

    .header__block {
        &.--flex {
            display: flex;
        }
    }

    .header__title {
        text-transform: uppercase;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
        /* identical to box height */

        letter-spacing: 0.42em;

        &::after {
            content: "";
            display: block;
            width: 32%;
            height: 5px;
            background: $primary;
            border-radius: 20px;
        }
    }

    .header__nav {
        .nav__item {
            display: inline-block;
            margin: 0 (12.5 / 16) * $spacer;
            color: black;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.1em;
            transition: .2s ease-in-out;

            &:hover {
                transform: scale(1.2);
                text-decoration: none;
            }

            &.--active {
                color: $primary;
            }
        }
    }

    .header__socials {
        .socials__icons {
            margin-right: (28 / 16) * $spacer;
            transition: .2s ease-in-out;

            &:hover {
                transform: scale(1.2);
                text-decoration: none;
            }
        }
    }

    .header__search {
        .search__icon {
            background: transparent;
            border: none;
            margin: 0 $spacer;
        }
    }
}